* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  /* background: linear-gradient(135deg, rgb(103, 103, 236), rgb(162, 227, 240)); */
  background-color: rgb(95, 95, 186);
}

.container{
  background-color: #f2f2f2;
  padding: 50px 50px;
  position: absolute;
  width: 80vw;  /*view window( VW )*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* box-shadow: ; */

}

.search_wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 20px;
}

#input-negara {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

#search-btn {
  border-radius: 20px;
  /* border: 2px solid black; */
  cursor: pointer;
  background-color: rgb(81, 132, 213);
  color: white;
  font-weight: bold;
  border: none;
}

.container .bendera {
  display: block;
  width: 200px;
  margin: 1.8em auto 1.2em;
  /* min-width: 50px; */
} 

.container h2 {
  margin-top: 5px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.container .data-wrapper {
  margin-bottom: 5px;
}

.container .wrapper .data-wrapper h4 {
  display: inline;
}

